body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500;
  background-color: #000;
  color: #E4D5B7;
}

.temp {
  min-height: 100vh;
}

/* ================= Landing Page ================= */

.header {
  font-size: 12vh;
  margin-block-start: 0 !important;
  font-weight: 800;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh !important;
  flex-direction: column;
}

.jumbo-header {
  margin-bottom: 2rem;
  padding-top: 10px;
  padding-left: 50px;
  height: 30vh !important;
  text-align: left;
}

.social-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: #E4D5B7;
  background-color: #000;
  transition: all 0.5s ease-in-out;
  padding: 8px;
  border-radius: 50px;
}

.social-link:hover {
  color: #E4D5B7;
  background-color: #710d0d;
}

.header-line {
  width: 100vw;
}

.header-left, .header-right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}

.header-left {
  color:#710d0d;
  transform: skew(0deg, -15deg);
}

.header-right {
  color: #E4D5B7;
  transform: skew(0deg, 15deg);
}

.header-left .header-content {
  width: 100vw;
  text-align: center;
}

.header-right .header-content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}

.header-text {
  display: inline-block;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}

/* ================= Landing Page End ================= */

/* ================= Navbar ================= */

.underline {
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid #E4D5B7 2px;
  transition: transform 0.25s ease-out;
}

.underline:hover {
  color: #E4D5B7;
}

.hover-underline-animation {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #E4D5B7;
}

.hover-underline-animation:hover {
  color: #E4D5B7;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E4D5B7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.brand {
  cursor: pointer;
  text-decoration: none;
}

.navbar-brand {
  color: #E4D5B7 !important;
}

.navbar-logo {
  height: 40px;
}

.nav-transition {
  transition: background-color .5s ease;
}

/* ================= Navbar End ================= */

/* ================= Section ================= */

.section-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

@media only screen and (min-width: 600px) {
  .section-header {
    font-size: 75px;
  }
}

.diagonal-box {
  background-image: linear-gradient(45deg, #E4D5B7, #E4D5B7);
  color: #000;
	transform: skewY(-5deg);
}

.content {
	transform: skewY(5deg) !important;
}

hr {
  background-color: #E4D5B7;
}

.experience-hr {
  background-color: #000;
}

/* ================= Section End ================= */

/* ================= Experience ================= */

.exp {
  background-color: #000 !important;
  color: #E4D5B7 !important;
  margin: 5px;
  width: 175px;
}

.exp.active {
  color: #E4D5B7 !important;
  background-color: #710d0d !important;
}

.exp-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.exp-holder {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 30px;
  width: 60vw;
}

.exp-title {
  color: #710d0d;
}

/* ================= Experience End ================= */

/* ================= About ================= */

.about-pill {
  padding: 10px;
  min-width: 50px;
  background-color: #710d0d !important;
  color: #E4D5B7;
}

/* ================= About End ================= */

/* ================= Project ================= */

.project-card-img {
  width: 100%;
  height: 286;
}

.project-card{
  width: 18em;
  height: 28em;
  border: solid 2px #E4D5B7;
  background: #E4D5B7;
  transition: all .3s ease-in-out;
  color: #000;
}

.project-card:hover{
  transform:scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.project-card-pill {
  padding: 10px;
  color: #E4D5B7;
}

.project-modal {
  color: #000;
}

.modal-content {
  background: #E4D5B7 !important;
}

.modal-header {
  border-bottom: solid 1px #000 !important;
}

.modal-footer {
  border-top: solid 1px #000 !important;
}

/* ================= Project End ================= */

/* ================= Footer ================= */

#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 14vh;
}

/* ================= Footer End ================= */

/* ================= Mobile ================= */

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.mobile-header {
  font-size: 12vh;
  font-weight: 800;
}

.typing-container {
  width: 100%;
}

/* ================= Mobile End ================= */
