:root {
  --dur: all 550ms ease-in-out;
  --dur-a: all 650ms ease-in-out;
  --dur-b: all 750ms ease-in-out;

  /* colour pallete */
  --col-1: #212A31;
  --col-2: #2E3944;
  --col-3: #124E66;
  --col-4: #D3D9D4;
  --col-5: #748D92;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500;
  background-color: var(--col-2);
  color: var(--col-4);
}

.temp {
  min-height: 100vh;
}

/* ================= Landing Page ================= */

.header {
  font-size: 12vh;
  margin-block-start: 0 !important;
  font-weight: 800;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh !important;
  flex-direction: column;
  background: var(--col-1);
  background: radial-gradient(circle, var(--col-1) 0%, var(--col-2) 50%);
}

.jumbo-header {
  margin-bottom: 2rem;
  padding-top: 10px;
  padding-left: 50px;
  height: 30vh !important;
  text-align: left;
}

.social-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: var(--col-4);
  background-color: var(--col-3);
  transition: all 0.5s ease-in-out;
  padding: 8px;
  border-radius: 50px;
}

.social-link:hover {
  color: var(--col-4);
  background-color: var(--col-5);
}

.header-line {
  width: 100vw;
}

.header-left, .header-right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}

.header-left {
  color:var(--col-5);
  transform: skew(0deg, -15deg);
}

.header-right {
  color: var(--col-4);
  transform: skew(0deg, 15deg);
}

.header-left .header-content {
  width: 100vw;
  text-align: center;
}

.header-right .header-content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}

.header-text {
  display: inline-block;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}

.line-pulse {
	border-bottom: 5px solid var(--col-5);
	box-shadow: 0 0 0 0 var(--col-5);
	animation: pulse 2s infinite;
  width: 100%;
}

.arrow {
  border: solid var(--col-5);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
	animation: arrow-pulse 2s infinite;
  height: 20px;
  width: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.wrap {
  margin-top: 10vh;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(116, 141, 146, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes arrow-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(116, 141, 146, 0.7);
	}

	70% {
		box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* ================= Landing Page End ================= */

/* ================= Navbar ================= */

.underline {
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid var(--col-4) 2px;
  transition: transform 0.25s ease-out;
}

.underline:hover {
  color: var(--col-4);
}

.hover-underline-animation {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--col-4);
}

.hover-underline-animation:hover {
  color: var(--col-4);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--col-4);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.brand {
  cursor: pointer;
  text-decoration: none;
}

.navbar-brand {
  color: var(--col-4) !important;
}

.navbar-logo {
  height: 40px;
}

.nav-transition {
  transition: background-color .5s ease;
}

/* ================= Navbar End ================= */

/* ================= Section ================= */

.section-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

@media only screen and (min-width: 600px) {
  .section-header {
    font-size: 75px;
  }
}

.diagonal-box {
  background-image: linear-gradient(45deg, var(--col-1) 50%, var(--col-1) 50%);
  color: var(--col-4);
	transform: skewY(-5deg);
}

.content {
	transform: skewY(5deg) !important;
}

hr {
  background-color: var(--col-4);
}

/* ================= Section End ================= */

/* ================= Experience ================= */

.exp {
  background-color: var(--col-3) !important;
  border: 2px solid var(--col-4) !important;
  color: var(--col-4) !important;
  margin: 5px;
  width: 175px;
}

.exp.active {
  color: var(--col-3) !important;
  background-color: var(--col-4) !important;
}

.exp-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: var(--col-4);
}

.exp-holder {
  padding: 10px;
  border: 2px solid var(--col-4);
  border-radius: 10px;
  margin: 30px;
  width: 60vw;
  background-color: var(--col-2);
}

.exp-title {
  color: var(--col-5);
}

/* ================= Experience End ================= */

/* ================= About ================= */

.about-pill {
  padding: 10px;
  min-width: 50px;
  background-color: var(--col-3) !important;
  color: var(--col-4);
}

/* ================= About End ================= */

/* ================= Project ================= */

.card-btn {
  background-color: var(--col-3);
  border-color: var(--col-4);
  color: var(--col-4);
  width: 150px;
  margin: 5px;
}

.card-btn:hover {
  background-color: var(--col-4);
  border-color: var(--col-4);
  color: var(--col-3);
}

.card-skills {
  color: var(--col-5);
}

.card-content {
  text-align: center;
}

.item {
  height:400px;
  width: 350px;
  margin: 20px;
  position:relative;
  border-radius:15px;
  box-sizing:border-box;
  color:var(--col-4);
}

.card {
  position:absolute;
  width:100%;
  height:100%;
  padding: 30px;
  overflow:hidden;
  border-radius:15px;
  -webkit-transition: var(--dur);
  -moz-transition: var(--dur);
  -ms-transition: var(--dur);
  -o-transition: var(--dur);
  transition: var(--dur);
  clip-path: circle(100.0% at 50% 50%);
  background-color:var(--col-3) !important;
}

.circle {
  background:var(--col-4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width:100%;
  height:100%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  -webkit-transition: var(--dur-a);
  -moz-transition: var(--dur-a);
  -ms-transition: var(--dur-a);
  -o-transition: var(--dur-a);
  transition: var(--dur-a);
  clip-path: circle(100.0% at 50% 50%);
  color: var(--col-3);
  padding: 30px;
}

.circle2 {
  background:var(--col-5);
  -webkit-transition: var(--dur-b);
  -moz-transition: var(--dur-b);
  -ms-transition: var(--dur-b);
  -o-transition: var(--dur-b);
  transition: var(--dur-b);
  clip-path: circle(100.0% at 50% 50%);
}

.item:hover .card .circle {
  clip-path: circle(0.0% at 75% 60%);
}

.item:hover .card .circle2 {
  clip-path: circle(0.0% at 35% 20%);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================= Project End ================= */

/* ================= Footer ================= */

#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 14vh;
}

/* ================= Footer End ================= */

/* ================= Mobile ================= */

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.mobile-header {
  font-size: 12vh;
  font-weight: 800;
}

.typing-container {
  width: 100%;
}

/* ================= Mobile End ================= */